body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

/* HEADER */
header {
  padding:12px;
  background:#111827;
  text-align:center;
}

.logo {
  font-size:28px;
  font-weight:900;
  color:#3b82f6;
  letter-spacing:2px;
}

/* PLAYER */
.player {
  padding:10px;
}

video {
  width:100%;
  border-radius:10px;
  background:black;
}

#now {
  margin-top:5px;
  color:#94a3b8;
}

/* GRID */
.grid {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

/* CARD */
.card {
  background:#1f2937;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
  text-align:center;
  transition:0.2s;
}

.card:hover {
  transform:scale(1.03);
  background:#2563eb33;
}

/* SMALL LOGO */
.card img {
  width:45px;
  height:45px;
  object-fit:contain;
  margin-bottom:5px;
}
